/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
/.idea
/.vscode
.DS_Store
.phpunit.result.cache
.phpunit-watcher.cache
/.phpunit.result.cache
/storage/debugbar
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map
/public/hot
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
/.phpunit.result.cache
.env.*.backup
.env.local
.env.development.local
.env.test.local
.env.production.local
.php-cs-fixer.cache
composer.lock
.phpunit.result.cache
.phpunit-watcher.cache
.idea/
.vscode/
*.log
